@media screen and (min-width: 768px) and (max-width: 1023px) {
  .myphoto {
    display: none;
  }
  .banner {
    height: 300px;
    padding-top: 100px;
  }
  .ic3 {
    margin-left: 0;
  }
  .menu {
    gap: 20px;
  }
  .img1,
  .img2,
  .img3 {
    width: 200px;
    height: 120px;
  }
  .cer1, .cer2 {
    width: 50%;
  }
}
